* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  color: #010f03;
  background-color: #fff;
}

.listinha{
  border: 1px solid #121214;
  border-radius: 25px;
  padding: 15px;
  text-align: center;
  list-style: none;
  margin: 15px 0;

  strong{
    text-transform: capitalize;
    font-size: 1.5rem;
    color: #002520;
  }
}

.repository-list{
  margin: 20px 40px;
  text-align: center;
  
  h1{
    font-size: 2rem;
  }
}
